body{
    background: rgb(58, 58, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    background-color: black;
    height: 80px;
    font-size: 50px;
}

h3 {
    color: rgb(165, 165, 165);
    margin: 10px;
    
}

p {
    margin: 10px;
}

ul {
    margin: 0 -40px ;
    list-style-type: none;

}

li {
    display: inline-block;
    margin: 10px;
    background-color: rgb(33, 33, 33);
    border-radius: 3px;
    font-size: large;
}

header {
    background-color: black;
    text-align: center;
}

header .logo a {
    width: 100px;
    height: 80px;
    text-indent: -9999999px;
    display: inline-block;
    background-image: url("Images/CSharpy_Logo.png");
    background-size: 100%;
    background-position: 10%;
}

a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: rgb(91, 91, 91);
}

li:first-child {
    background-color: black;
}
li:last-child {
    background-color: black;
}